#button-search-device {
  margin-left: 2px;
  margin-right: 2px;
}

#button-clear-device {
  margin-left: 2px;
  margin-right: 2px;
}

table {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  min-width: 500px;
}
th.mat-header-cell {
  text-align: left;
  max-width: 300px;
}
